{% extends "base_admin_dashboard.html" %}
{% load static %}

{% block title %}
   Admin
{% endblock %}

 {% block add_css %}
 <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block content %}

<div class="row g-6">

      <!-- Card Border Shadow -->

      <div class="col-lg-3 col-sm-6">
        <div class="card card-border-shadow-danger h-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2">
              <div class="avatar me-4">
                <span class="avatar-initial rounded bg-label-danger"><i class="fa fa-users text-warning" aria-hidden="true" style='font-size:50px;'></i></span>
              </div>
              <h4 class="mb-0">{{ total_employees }}</h4>
            </div>
            <p class="mb-2">Distributors</p>
            <p class="mb-0">
              <span class="text-heading fw-medium me-2">5</span>
              <span class="text-muted">Distributors Added (This Month)</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="card card-border-shadow-primary h-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2">
              <div class="avatar me-4">
                <span class="avatar-initial rounded bg-label-info"><i class="fa fa-user-friends" aria-hidden="true" style='font-size:50px;color:blue'></i></span>
              </div>
              <h4 class="mb-0">{{ kpi_total_clients|default:0 }}</h4>
            </div>
            <p class="mb-2">Clients</p>
            <p class="mb-0">
              <span class="text-heading fw-medium me-2">{{ kpi_clients_month|default:0 }}</span>
              <span class="text-muted">Clients Added (This Month)</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="card card-border-shadow-info h-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2">
              <div class="avatar me-4">
                <span class="avatar-initial rounded bg-label-info"><i class="fa fa-chart-bar fa-3x text-info"></i></span>
              </div>
              <h4 class="mb-0">{{total_sales_previous_months_sum}}</h4>
            </div>
            <p class="mb-2">Clients Added (This Month)</p>
            <p class="mb-0">
              <!--
              <span class="text-heading fw-medium me-2">-8.7%</span>
              <span class="text-muted">than last week</span>
              -->
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="card card-border-shadow-success h-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2">
              <div class="avatar me-4">
                <span class="avatar-initial rounded bg-label-success"><i class="fa fa-chart-line fa-3x text-success"></i></span>
              </div>
              <h4 class="mb-0">{{ kpi_top_distributor|default:"N/A"|safe }}</h4>
            </div>
            <p class="mb-2">Top Generator</p>
            <p class="mb-0">
              <span class="text-heading fw-medium me-2">{{ num_clients }}</span>
              <span class="text-muted">Clients this month</span>
            </p>
          </div>
        </div>
      </div>



      <!-- Monthly Sales Start End -->

      <!--bar Graph of Employees with Approved client  -->
      <div class="col-xxl-9">
        <div class="card h-100">
          <div class="card-body">
              {% include 'distributors.html' %}
          </div>
        </div>
      </div>
      <!--/ End -->

      <!--Graph of Approved/pending Detail-->
      <div class="col-xxl-3 col-lg-5">
        <div class="card h-100">
          <div class="card-header d-flex justify-content-between">
            <div class="card-title mb-0">
              <h5 class="mb-1 me-2">Clients Overview</h5>
              <!--<p class="card-subtitle">12% increase in this month</p>-->
            </div>
          </div>
          <div class="card-body">
            <canvas id="clientsPieChart"></canvas>
          </div>
        </div>
      </div>
      <!--/ Graph of Approved/pending Detail -->

      {% include 'clients.html' %}
      <!-- / Performance -->
  </div>
{% endblock %}

 <!-- Footer Start -->
{% block footer %}
<div class="content-wrapper">
    <div class="container-p-y container-xxl flex-grow-1">
        <div class="bg-light rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">@AcDantez</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="#">@AcDantez</a>
                    <br>Distributed By: <a href="#">@AcDantez</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- Footer End -->

{% block add_js %}

{% endblock %}


