<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <!-- component -->
    <div class="container px-4 mx-auto">
      <div class="max-w-lg mx-auto">
        <div class="text-center mb-6 py-8">
          <h2 class="text-3xl md:text-4xl font-extrabold">Sign in</h2>
        </div>
        {% if messages %}
            <div class="text-center mb-6">
              <strong style="color:red">Message:</strong>
              {% for message in messages %}
              <ul>
                <li>{{message}}</li>
              </ul>
               {% endfor %}
            </div>
        {% endif %}
        <form method="post" action="{% url 'login_form' %}">
          {% csrf_token %}
          <div class="mb-6">
            <label class="block mb-2 font-extrabold" for="">Email</label>
            <input class="inline-block w-full p-4 leading-6 text-lg font-extrabold placeholder-indigo-900 bg-white shadow border-2 border-indigo-900 rounded" type="email" name="email" placeholder="email" required>
          </div>
          <div class="mb-6">
            <label class="block mb-2 font-extrabold">Password</label>
            <input class="inline-block w-full p-4 leading-6 text-lg font-extrabold placeholder-indigo-900 bg-white shadow border-2 border-indigo-900 rounded" type="password" id="id_password" name="password" placeholder="**********" required>
          </div>
          <div class="flex flex-wrap -mx-4 mb-6 items-center justify-between">
            <div class="w-full lg:w-auto px-4 mb-4 lg:mb-0">
              <label for="">
                  <input type="checkbox" class="form-check-input" id="togglePassword">
                  <span class="ml-1 font-extrabold" for="togglePassword">Show Password</span>
                </label>
            </div>
            <div class="w-full lg:w-auto px-4"><a class="inline-block font-extrabold hover:underline" href="#">Forgot your
                password?</a></div>
          </div>
          <button class="inline-block w-full py-4 px-6 mb-6 text-center text-lg leading-6 text-white font-extrabold bg-indigo-800 hover:bg-indigo-900 border-3 border-indigo-900 shadow rounded transition duration-200">Sign in</button>
          <p class="text-center font-extrabold">Don&rsquo;t have an account? <a class="text-red-500 hover:underline"
              href="#">Sign up</a></p>
        </form>
      </div>
    </div>

    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password =  document.getElementById("id_password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute

            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("form-check-input");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            //e.preventDefault();
        });
    </script>

</body>
</html>